* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: linear-gradient(rgb(243, 139, 156), #FCC8D1);
  min-height: 300px;
}

.bordes-redondeados {
  position: relative;
  border-radius: 300px;
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: 20px;
}

.navbar-brand {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-link {
  text-decoration: solid;
  letter-spacing: 1px;
}

.header {
  display: grid;
  padding: 10px;
  grid-template-areas: "header2 header3";
}

.nav-link:hover {
  color: black;
  font-size: 22px;
}

.dropdown-item {
  margin: 0;
  padding: 0;
}

.bordes-redondeados {
  margin-bottom: 10px;
}

main {
  background-image: linear-gradient(#FCC8D1, rgb(233, 214, 217) , #FCC8D1);
  justify-content: center;
  width: 100%;
}

.main {
  display: grid;
  padding: 10px;
  grid-template-areas: "titulo__main" "section__marcas";
}

.section__marcas {
  display: inline-block;
}

.titulo__main {
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

.purina, .royal__canin, .vittal__can, .pedigree, .whiskas, .eukanuba, .catchow, .dogchow {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dogchow {
  width: 199px;
  height: 85px;
}

footer {
  background-image: linear-gradient(#FCC8D1, rgb(243, 139, 156));
}

.contacto1 {
  font-size: 40px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.contacto2 {
  font-size: 40px;
  margin-left: 30px;
}

.contacto3 {
  font-size: 40px;
  text-align: right;
  margin-right: 80px;
  line-height: 10px;
}

.contacto5 {
  font-size: 40px;
  text-align: right;
  margin-right: 80px;
}

.footer {
  display: grid;
  padding: 10px;
  grid-template-areas: "h2" ".contacto4";
}

.contacto4 {
  display: grid;
  margin-top: 60px;
  grid-template-areas: "contacto1 contacto2" "contacto5 contacto3";
}

.titulo__footer {
  margin-top: 0px;
}

.contacto1, .contacto2, .contacto3, .contacto5 {
  text-decoration: none;
}

.nosotros5 {
  display: inline-flexbox;
}

p {
  font-size: 30px;
}

.main {
  display: grid;
  margin: 10px;
  grid-template-areas: "titulo__main" "ventas";
}

.producto1, .producto2, .producto3, .producto4, .producto5, .producto6, .producto7, .producto8 {
  display: inline-block;
  align-items: center;
  text-align: center;
  line-height: 30px;
}

.titulo__main {
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

.venta1 {
  display: flexbox;
  width: auto;
  height: auto;
  position: relative;
}

.ventas {
  display: inline-flexbox;
  flex-direction: row;
  place-items: center;
}

@media screen and (max-width: 480px) {
  .section__marcas, .producto1, .producto2, .producto3, .producto4, .producto5, .producto6, .producto7, .producto8 {
    display: grid;
    place-items: center;
    grid-template-columns: 1;
    gap: 0px;
  }
  header {
    display: grid;
    grid-column: 1;
    height: auto;
  }
  .header {
    height: 550px;
  }
  .container-fluid {
    display: grid;
    grid-template-areas: "bordes-redondeados" "navbar-brand" "collapse navbar-collapse" "navbar-toggler";
  }
  .contacto4 {
    display: block;
  }
  .contacto1, .contacto2, .contacto3, .contacto5 {
    margin-bottom: 60px;
    justify-content: center;
  }
  .cont1, .cont2, .cont3, .cont4 {
    justify-content: left;
  }
}

/*# sourceMappingURL=style.css.map */
