
body {
    background-color: #FCC8D1;
    display: flex;
    flex-wrap: wrap;
}

.contenedor {
    width: 100%;
    display: grid;
    gap: 0px;
    max-width: auto;
    margin: 0px;
    grid-template: auto auto auto/ repeat(1, 1fr);
    grid-template-areas:
        "header"
        "main"
        "footer";
}