header {
    background: linear-gradient(#f17187, #FCC8D1);
    min-height: 300px;
}

.bordes-redondeados {
    position: relative;
    border-radius: 300px;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.header {
    display: grid;
    padding: 10px;
    grid-template-areas:
        "header2 header3";
}

