main {
    background: linear-gradient(#FCC8D1,#f5f5f5 ,#FCC8D1);
    justify-content: center;
    width: 100%;
}

.main{
    display: grid;
    padding: 10px;
    grid-template-areas: 
    "titulo__main"
    "section__marcas";
}

.section__marcas{
    display: inline-block;
}

.titulo__main{
    @include margin(20px, 0px, 40px, 40px);
}


.purina, .royal__canin, .vittal__can, .pedigree, .whiskas, .eukanuba, .catchow, .dogchow{
    @include margin(10px, 10px, 10px, 10px);
}

.dogchow{
    width: 199px;
    height: 85px;
}